
    <div class="img-slider">
        <div class="slide active">
            <img src="/images/1.JPG" alt="">
            <div class="info">
                <h2>Turkey</h2>
                <p>Istanbul - The capital of Turkey and this photo is the Blue Mosque.</p> 
            </div>
        </div>
        <div class="slide">
            <img src="/images/2.JPG" alt="">
            <div class="info">
                <h2>Ukraine</h2>
                <p>Lviv - The second largest city in Ukraine. View from the top of the city hall's clock tower.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/images/3.JPG" alt="">
            <div class="info">
                <h2>North Macedonia</h2>
                <p>Ohrid - The famous holiday spot of the locals. Home to the best wines in the region.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/images/4.JPG" alt="">
            <div class="info">
                <h2>Serbia</h2>
                <p>Subotica - The northest town in Serbia close to the border with Hungary. A town which displays hungarian architecture.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/images/5.JPG" alt="">
            <div class="info">
                <h2>Bosnia and Herzegovina</h2>
                <p>Mostar - An old  settlement and was once an important city of the Ottoman empire. Photo is from the iconic Mostar Bridge.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/images/6.JPG" alt="">
            <div class="info">
                <h2>Montenegro</h2>
                <p>Perast - a Luxurious town overlooking the mediterranian sea. Favorite destination for holiday makers.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/images/7.JPG" alt="">
            <div class="info">
                <h2>Russia</h2>
                <p>Saint Petersburg - Crown as the venice of the north. The city is made to look like Europe. Photo is from the Peterhof Palace.</p>
            </div>
        </div>
        <div class="navigation">
            <div class="sbtn active"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
        </div>
    </div>    
